<template>
  <v-app>
  <div>
    <v-app-bar
      color="deep-purple accent-4"
      dense
      dark
    >
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
      <v-toolbar-title>Fast Loans</v-toolbar-title>
    </v-app-bar>
  </div>
    <br><br>

    <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    style="width: 60%; margin-left: 20%"
  >
    <v-text-field
      v-model="tax_id"
      :rules="taxIdRules"
      label="Tax Id"
      type="number"
      required
    ></v-text-field>

    <v-text-field
      v-model="business_name"
      :rules="businessNameRules"
      label="Business Name"
      required
    ></v-text-field>

    <v-text-field
      v-model="requested_amount"
      :rules="requestedAmountRules"
      label="Requested Amount"
      type="number"
      required
    ></v-text-field>

    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="check_loan"
    >
      Validate Loan
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="reset"
    >
      Reset Form
    </v-btn>
      <br><br>
      <v-alert
      id="alert-green"
      border="top"
      color="green lighten-1"
      v-show="alert_green"
      dark
    >
      {{backend_response}}
    </v-alert>
    <v-alert
      id="alert-orange"
      border="top"
      color="orange lighten-1"
      v-show="alert_orange"
      dark
    >
      {{backend_response}}
    </v-alert>
    <v-alert
      id="alert-red"
      border="top"
      color="red lighten-1"
      v-show="alert_red"
      dark
    >
      {{backend_response}}
    </v-alert>

  </v-form>
  </v-app>

</template>

<script>
import axios from 'axios'
const BACKEND_HOST = 'http://localhost:5000'

export default {
  name: 'HelloWorld',
  data () {
    return {
      alert_green: false,
      alert_orange: false,
      alert_red: false,
      valid: true,
      taxIdRules: [
        v => !!v || 'Tax Id is required'
      ],
      businessNameRules: [
        v => !!v || 'Business Name is required'
      ],
      requestedAmountRules: [
        v => !!v || 'Requested Amount is required'
      ],
      tax_id: '',
      business_name: '',
      requested_amount: '',
      backend_response: ''
    }
  },
  props: {
  },
  mounted () {},
  methods: {
    validate () {

    },
    check_loan: function () {
      var baseURI = BACKEND_HOST + '/api/check_loan'
      var vm = this
      axios
        .post(baseURI, {
          tax_id: vm.tax_id,
          business_name: vm.business_name,
          requested_amount: vm.requested_amount
        })
        .then(response => {
          vm.backend_response = response.data

          switch (vm.backend_response) {
            case 'APPROVED':
              vm.alert_green = true
              vm.alert_orange = false
              vm.alert_red = false
              break
            case 'UNDECIDED':
              vm.alert_green = false
              vm.alert_orange = true
              vm.alert_red = false
              break
            case 'DECLINED':
              vm.alert_green = false
              vm.alert_orange = false
              vm.alert_red = true
              break
          }
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    reset () {
      var vm = this
      this.$refs.form.reset()
      vm.alert_green = false
      vm.alert_orange = false
      vm.alert_red = false
    }
  }
}
</script>
